@page
@model appstore.Pages.Order.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Client.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderItems.OrderItemsId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
