@page
@model appstore.Pages.SupplySupplyItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplySupplyItem[0].Supply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplySupplyItem[0].SupplyItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SupplySupplyItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supply.SupplyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplyItem.SupplyItemId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SupplyItemsId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SupplyItemsId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SupplyItemsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
