@page
@model appstore.Pages.Supply.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Supply) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.ProviderId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SupplyId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SupplyId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SupplyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
